<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/index.css">
  <script defer src="scripts/code.js"></script>
  <title>Hello world</title>
</head>

<body class="antialiased">
  <div id="codeOutput"></div>
  <div class="px-4 sm:px-6 md:px-8 bg-red-400">
    {{ content }}
  </div>

</body>

</html>